[user]
  name = Evans Dianga
  email = code@itsevans.com
  signingkey = rsa4096/54A622E13BE2CDF0
[http]
  postBuffer = 1048576000
[pull]
  rebase = true
[branch]
  autosetuprebase = always
[alias]
  rh = reset --hard HEAD
  b = checkout -b
  co = checkout
  ca = commit -a --verbose
  cp = cherry-pick
  amend = commit -a --amend --no-edit
  unstage = reset --soft HEAD
  cdiff = "!git diff $1 $1^"
[push]
  default = current
  autoSetupRemote = true
[core]
  pager = delta
  excludesfile = /Users/evansdianga/.gitignore_global
  editor = code --wait

[delta]
  side-by-side = true
  features = side-by-side line-numbers decorations
  syntax-theme = Dracula

[interactive]
  diffFilter = delta --color-only
[color]
  ui = always
  branch = always
  diff = always
  interactive = always
  status = always
  grep = always
  decorate = always
  showbranch = always
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[init]
  defaultBranch = main
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
